@import url('https://fonts.googleapis.com/css2?family=Ranchers&family=Rancho&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
overflow: auto;

}
body{
    overflow: hidden;
width: 100%;
position: absolute;
z-index: 10000;
}
header h1{
    font-family: 'Ranchers', cursive;
    overflow: hidden;
}
.header{
    background-color:rgb(65, 226, 226);
    text-align: center;
    color:rgb(221, 107, 107);
    font-size: 25px;
    margin: 0px;
    padding: 5px;
    }
    #load{
        width: 100%;
        position: fixed;
        display: flex;
        z-index: 99999;
        align-items: center;
        text-align: center;
        height: 100%;
        background:rgb(255, 255, 255) url('11.gif') center;
        background-repeat: no-repeat;

    }
    h2{
        font-family: 'Times New Roman', Times, serif;
        text-shadow: 1px 1px 1px rgb(49, 34, 34);
    }
    h1{
        font-family: fantasy;
        margin:0px;
        text-shadow: 2px 3px 2px rgb(49, 34, 34);
    }
    .header-below nav a{
        color: darkcyan;
        border-radius: 50px;
        transition: 1s;
    }
    .header-below nav a:hover{
        background-color: rgb(18, 128, 28);
        color: blanchedalmond;
        font-size: 15px;
        transition: 1s;
    }
    body{
        margin: 0;
        background-color: rgb(190, 236, 190);
        transition: 5s;
    }
    .wotts{
        border-radius: 50px;
    }
    .header-below{
        background-color: rgb(48, 197, 202);
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        font-weight: 700;
    
       
    }
    .head-below{
        transition: 0.5s;

    }
    .head-below:hover{
        transition: 0.5s;
    }
    .header-below:hover{
        background-color: rgb(106, 218, 106);
        font-size: 20px;
        font-weight: bold;
    }
    nav a {
        text-decoration: none;
        padding: 10px;
        text-align: center;
       
      
    }
   /* #start{
        text-align: center;
        font-size: 400%;
        background-color: aqua;
        color: rgb(172, 130, 219);
        font-family: fantasy;
        text-shadow: 2px 2px 2px black;
    }*/
    
    #pics{
        text-align: center;
        text-shadow: rgb(29, 46, 29);
        color: rgb(58, 75, 92);
        background-color:rgb(144, 243, 243);
        text-indent: 10px;
        font-family: cursive;
        transition: 1s;
    }
    #pics:hover{
        background-color: rgb(206, 250, 162);
        transition: 2s;
    }
    #pics img{
        transition: 1s;
        border-radius: 50%;
    }
    #pics img:hover{
        width: 34%;
        border-radius: 0%;
        transition: 1s;
    }
    /*mobile*/
    @media screen and (max-width: 600px) {
        #load {
          width: 100%;
          
        }
      }
   
    @media screen and (min-width: 1024px) and (max-height: 1310px) {
        /* Laptop */
      
        #carimg{
            height: 430px;
        }
        
    }
    #videos{
        color: midnightblue;
        background-color:rgb(159, 247, 247);
        font-family: cursive;
        text-align: center;
        transition: 2s;
    }
    #videos:hover{
        background-color: rgb(253, 211, 194);
        transition: 2s;
    }
    footer{
        background-color: rgb(86, 202, 202);
        font-family: cursive;
        font-weight: bold;
        text-align: center;
        transition: 2s;
    }
    footer:hover{
        background-color: rgb(231, 133, 133);
        transition: 3s;
    }
    #about{
        background: linear-gradient(180deg,rgb(196, 234, 250),white);
        text-align: center;
        align-items: center;
        border-radius: 10%;
        justify-content: center;
        color: rgb(73, 105, 105);
        transition: 1s;
        display: flex;
        
    }
    #about:hover{
        background-color: rgb(224, 243, 179);
        transition: 1s;
        border-radius: 0;
    }
    #explore{
        background-color: rgb(196, 234, 250);
        overflow: hidden;
        width: 100%;
            position: relative;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }
    
    #explore::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        z-index: 10;
        background: linear-gradient(to top,#578192,transparent);
    }
    #explore h3{
        z-index: 11;
        position: absolute;
        color: rgb(37, 156, 158);
        text-align: center;  
        font-size: 20px;
        font-family: fantasy; 
        transform: translateY(-280px);

 }

 #explore h1{
     overflow: hidden;
     z-index: 11;
     position: absolute;
     transform: translateY(-250px);
     font-size: 60px;
     color: rgb(79, 189, 190);
     font-family: 'Ranchers', cursive;
    }
  
    #explore img{
position: absolute;
z-index: 2;
top: 0;
left: 0;
width: 100%;
height: 100%;
pointer-events: none;
object-fit: cover;
    }

    #about h4{
        overflow: hidden;
        font-family: 'Ranchers', cursive;

    }
.card-out{
    
    display: flex;
       align-items: center;
       justify-content: center;
       text-align: center;
       min-height: 100vh;
       background: rgb(236, 151, 151);
   }
   .card{
       position: relative;
       width: 95%;
       height: 400px;
      overflow: hidden;
       align-items: center;
       justify-content: center;
       background: rgb(115, 205, 211);
       transform-style: preserve-3d;
       transform: perspective(1000px);
       box-shadow:10px 20px 40px rgba(0, 0, 0, 0.25);
       transition: 1s;
   }
   .card .details{
       overflow: hidden;
       position: absolute;
       top: 0;
       width: 100%;
       height: 100%;
       padding: 20px;
       display: flex;
       justify-content: center;
       align-items: center;
   }
   .card .details .content{
       display: flex;
       justify-content: center;
       align-items: center;
       overflow: hidden;
       flex-direction: column;
   }
   
   .card .details .content h2 span{
       overflow: hidden;
       color: rgb(0, 0, 0);
       overflow: hidden;
       font-family: 'Ranchers', cursive;
       font-size: 0.8em;

   }
   .card .imgBox{position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
    transform-origin: right;
    box-shadow:10px 20px 40px rgba(0, 0, 0, 0.25);

    transform-style: preserve-3d;
    background: black;
    transition: 1s;
    z-index: 1;
   }
   .card:hover{
       transform: translateX(10%);
   }
   .card:hover .imgBox{
       transform: rotateY(-180deg);
   }
   .card .imgBox img{
       position:absolute;
       top: 0;
       left: 0;
       object-fit: cover;
       transform-style: preserve-3d;
       width: 100%;
       height: 100%;
       backface-visibility: hidden;
   }
   .card .imgBox img :nth-child(2){
       transform: rotateY(180deg);
   }
   #container-out{
       position: relative;
       margin: 20px;
       display: flex;
       background: rgb(2,0,36);
background: linear-gradient(356deg, rgba(2,0,36,1) 0%, rgba(255,255,255,0.3626401244091386) 0%, rgba(30,112,143,0.7323880235688025) 100%);
        justify-content: center;
       align-items: center;
       border-radius: 0%;
       transition: 5s;
   }
   #container-out:hover{
       border-radius: 25%;
       transition: 5s;
       background: linear-gradient(90deg,rgb(238, 116, 116),white);
   }

   #container-out #card-out{
       overflow: hidden;
       border-radius: 50%;
       position: relative;
       width: 1000px;
       height: 600px;
       margin: 5%;
       display: flex;
       justify-content: flex-start;
       align-items: center;
       transition: 1s;
       background: linear-gradient(45deg,rgb(224, 167, 129),rgb(69, 69, 122));
   }
   #container-out #card-out:hover{ 
border-radius: 0%;   
width: 1400px;
transition: 1s;

}
   #container-out #card-out img{
       position: absolute;
       height: 500px;
       left: 50%;
       transform: translateX(-50%);
       transition: 1.5s;

   }
  
   #container-out #card-out:hover img{
       left: 85%;
       height: 650px;

}

#container-out #card-out .contento{
    position: relative;
    width: 50%;
    opacity: 0.3;
    left: 20%;
    transition: 0.5s;

}
#container-out #card-out:hover .contento{
    left: 5%;
    opacity: 1;
    visibility: visible;
    font-size: large;
}
#container-out #card-out .contento h2{
    color: wheat;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1em;

}
#container-out #card-out .contento p{
    color: white;
font-family: cursive;
}


/* Gradient color1 - color2 - color1 */

hr.style-one {
    border: 0;
    height: 0;
    margin: 2px;
    padding: 0;

    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
.contbut{
    height: 40px;
    width: 80px;
    display: flex;
    position: absolute;
    bottom: 15%;
    opacity: 0;
    transition: 1s;
align-items:center;
justify-content: center;
    border-radius: 50%;
    background-color: white;

}
.contbut:hover{
    background-color: black;
}
#container-out:hover .contbut{
    opacity: 1;
    left: 26%;
    transition: 5s ease-in;
    
}
.contbut a{
    position: relative;
    display: inline-flex;
    text-decoration: none;
    transition: 0.5s;
    color: black;
    font-family: 'Ranchers', cursive;

}
.contbut a:hover{
    color: white;
}
.contbut a span{
    position: relative;
    z-index: 1;
}
#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(0deg,rgb(238, 116, 116),white);
}
.contactcont{
    width: 80%;
    padding: 20px;
}
.contactcont h2{
    width: 100%;
    font-size: 36px;
    font-family:"Ranchers",cursive;
    text-align: center;
    margin-bottom: 10px;
color: #1b858d;
overflow: hidden;
}
.contactcont .row100{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));

}
.contactcont .row100 .col{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 10px;
    transition: 0.5s;
}
.contactcont .row100 .inputBox{
    position: relative;
    width: 100%;
    height: 40px;
    color: #1b858d;

}
.contactcont .row100 .inputBox input,
.contactcont .row100 .inputBox .textarea textarea{
position: absolute;
width: 100%;
height: 100%;
background: transparent;
box-shadow: none;
border: none;
outline: none;
font-size: 18px;
padding: 0 10px;
z-index: 1;
color: rgb(253, 180, 192);
}
.contactcont .row100 .inputBox .text{
position: absolute;
top: 0;
left: 0;
line-height: 40px;
font-size: 20px;
padding: 0 10px;
display: block;
transition: 0.5s;
pointer-events: none;

}
.contactcont .row100 .inputBox input:valid + .text,
.contactcont .row100 .inputBox input:focus + .text{
    top: -35px;
    left: -10px;

}
.contactcont .row100 .inputBox .line{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #1b858d;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}
.contactcont .row100 .inputBox input:valid ~ .line,
.contactcont .row100 .inputBox input:focus ~ .line{
    height: 100%;

}

.contactcont .row100 .inputBox .textarea{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;

}
.contactcont .row100 .inputBox .textarea textarea{
    height: 100%;
    resize: none;
    
}
.contactcont .row100 .inputBox textarea:valid + .text,
.contactcont .row100 .inputBox textarea:focus + .text{
    top: -35px;
    left: -10px;
}
.contactcont .row100 .inputBox textarea:valid ~ .line,
.contactcont .row100 .inputBox textarea:focus ~ .line{
    height: 100%;
}
#contsend{
    position: relative;
    border: 0;
    border: 0px solid pink;
    display: inline-block;
    padding: 15px 30px;
    background: #1b858d;
    text-decoration: none;
    color: pink;
    font-size: 20px;
    transition: 2s ease-in-out;
}
#contsend:hover{
    font-size: 30px;
    transition: 0.5s ease-in-out;
    border: 10px solid pink;
}
.indicator{
    position: absolute;
    top: 35%;
    width: 100px;
    right: 15%;
    transition: 2s ease-in-out;
    height: 20px;
    visibility: hidden;
    background: rgb(252, 190, 200);
    opacity: 0;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.inputBox:hover .indicator{
    opacity: 1;
    transition: 2s ease-in-out;
    visibility: visible;
}


#startexplore{
    position: absolute;
    top: 50%;
    margin: 5px;
    padding: 10px;
    background-color: white;
    color: #1b858d;
    border-radius: 100%;
    text-decoration: none;
    transition: 1s ease-in-out;
    font-size: 25px;
    font-family: fantasy;
}
#startexplore:hover{
    transition: 1s ease-in-out;
    color: white;
    background-color: #1b858d;

}
::-webkit-scrollbar{
    height: 0;
    width: 0;

}
#progressbar{
    position: fixed;
    top: 0;
    text-align: center;
    font-family: 'Ranchers', cursive;
    font-size: 10px;
    color: rgb(221, 107, 107);
    z-index: 101201201;
    width: 100%;
    height: 15px;
    border-radius: 25px;
    background: linear-gradient(to right,rgb(144, 186, 235),pink,rgb(216, 255, 193));
}
.banner{
    position: relative;
    width: 100%;
    height: 13vh;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-radius: 38%;
}
.bannerover{
    background-color: rgb(97, 219, 219);
    color: rgb(97, 219, 219);
}
.banner:hover{
    border-radius: 0%;
}
.banner video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner h1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:transparent;
    color: rgb(97, 219, 219);
    font-size: 9.5vh;
    text-align: center;
    mix-blend-mode: screen;
}
