body{
position:absolute;}
.header{
    background-color:rgb(65, 226, 226);
    text-align: center;
    color:rgb(221, 107, 107);
    font-size: 25px;
    margin: 0px;
    padding: 5px;
    }
#start{
        text-align: center;
        font-size: 200px;
        background-color: aqua;
        margin: 50px;
        padding: 100px;
        color: rgb(172, 130, 219);
        font-family: fantasy;
        text-shadow: 2px 2px 2px black;
    }
    #load{
        width: 100%;
        position: fixed;
        display: flex;
        z-index: 99999;
        align-items: center;
        text-align: center;
        height: 100vh;
        background:rgb(245, 245, 245) url('https://drive.google.com/uc?id=1vnVXZuCM7aPxYv3vju1BlXSNtP2tDXYx') center;
        background-repeat: no-repeat;

    }
    h2{
        font-family: 'Times New Roman', Times, serif;
        text-shadow: 1px 1px 1px rgb(49, 34, 34);
    }
    h1{
        font-family: fantasy;
        margin:0px;
        text-shadow: 2px 3px 2px rgb(49, 34, 34);
    }
    .header-below nav a{
        color: darkcyan;
    }
    
    body{
        margin: 0;
        background-color: rgb(190, 236, 190);
        transition: 5s;
    }
    .wotts{
        border-radius: 50px;
    }
    .header-below{
        background-color: rgb(48, 197, 202);
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        font-weight: 700;
    
       
    }
    .head-below{
        transition: 2s;

    }
    .head-below:hover{
        transition: 2s;
    }
    .header-below:hover{
        background-color: rgb(106, 218, 106);
        font-size: 20px;
        font-weight: bold;
    }
    nav a {
        text-decoration: none;
        padding: 10px;
        text-align: center;
       
      
    }
    
    #pics{
        text-align: center;
        text-shadow: rgb(29, 46, 29);
        color: rgb(58, 75, 92);
        background-color:rgb(144, 243, 243);
        text-indent: 10px;
        font-family: cursive;
        transition: 1s;
    }
    #pics:hover{
        background-color: rgb(206, 250, 162);
        transition: 2s;
    }
    @media screen and (min-width: 1024px) and (max-height: 1310px) {
        /* Laptop */
        #carimg{
            height: 430px;
        }
    }
    #videos{
        color: midnightblue;
        background-color:rgb(159, 247, 247);
        font-family: cursive;
        text-align: center;
        transition: 2s;
    }
    #videos:hover{
        background-color: rgb(253, 211, 194);
        transition: 2s;
    }
    footer{
        background-color: rgb(86, 202, 202);
        font-family: cursive;
        font-weight: bold;
        text-align: center;
        transition: 2s;
    }
    footer:hover{
        background-color: rgb(231, 133, 133);
        transition: 3s;
    }
    #about{
        background-color:rgb(205, 248, 248);
        text-align: center;
        color: rgb(73, 105, 105);
        transition: 2s;
    }
    #about:hover{
        background-color: rgb(168, 195, 197);
        transition: 2s;
    }
